<a href="https://colab.research.google.com/github/thoton9/test/blob/master/sql3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# ※1 説明は下にあります。
# https://chayarokurokuro.hatenablog.com/entry/2019/08/18/174322
 
import sqlite3
 
# ※2 
dbname = "test.db"
 
# ※3 
conn = sqlite3.connect(dbname)
 
# ※4 
cur = conn.cursor()
 
# ※5 
cur.execute("DROP TABLE IF EXISTS items")
 
# ※6 
cur.execute("""
    CREATE TABLE items(
        id INTEGER PRIMARY KEY,
        name TEXT UNIQUE,
        price INTEGER
    )
""")
 
# ※7 
cur.execute("INSERT INTO items (name,price) VALUES ('タイ語',160)")
cur.execute("INSERT INTO items (name,price) VALUES ('ヒンディ語',780)")
cur.execute("INSERT INTO items (name,price) VALUES ('ビルマ語',230)")
 
 
# ※8 
conn.commit()
 
# ※9 
cur = conn.cursor()
cur.execute("SELECT id,name,price FROM items")
item_list = cur.fetchall()
 
# ※10 
for i in item_list:
    print(i)
 
# ※11 
conn.close()

(1, 'タイ語', 160)
(2, 'ヒンディ語', 780)
(3, 'ビルマ語', 230)